body .right {
  float: right;
}
body .left {
  float: left;
}
div.search.box {
  width: calc(100% - 75px);
  margin: 20px 28px;
}
header center div.tab.navigation {
  margin: 2rem 2.8rem;
  margin-bottom: 0;
}
header center div.tab.navigation ul {
  margin-bottom: 0;
  padding-left: 0;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}
header center div.tab.navigation ul li {
  margin-right: .2rem;
  padding: .4rem .8rem;
  color: #fff;
  list-style: none;
  border-top-right-radius: .2rem;
  border-top-left-radius: .2rem;
  display: inline-block;
  background-color: #888;
  cursor: pointer;
}
main {
  min-height: 45rem;
}
main div.result.box {
  max-width: 60rem;
  margin: 2.8rem 2rem 2rem 2rem;
}
main div.result.box ul {
  padding-left: 8rem;
  list-style: none;
}
main div.result.box ul li {
  margin-bottom: 2rem;
}
main div.result.box ul li img {
  width: 4rem;
  margin-right: 1rem;
}
main div.result.box ul li p.description {
  width: 32rem;
}
input.form-control {
  width: calc(100% - 75px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
footer {
  height: 4rem;
  position: relative;
}
footer div.navigation {
  width: 100%;
  position: absolute;
  bottom: 1rem;
}
footer div.navigation div.btn-success.prev {
  margin-left: 2rem;
}
div.btn-success.next {
  margin-right: 2rem;
}
div.btn-success.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;  
}
div.btn-success.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;  
}
footer div.navigation span.page {
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  main div.result.box {
    width: 100%;
  }
}

